.junior-program{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../images/2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.teenager-program{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../images/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.professional-program{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../images/4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
